@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: linear-gradient(180deg,#0f172a 0%, #0b1220 100%);
}

body {
  @apply bg-gray-50;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
